
h5 {
  text-align: center;
  font-weight: bold;
  color: blue;
}

.Italic {
    font-style: italic;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col {
  text-align: justify;
}

#lovelife {
  color: red;
}
